div{
  border: 6px solid black;
}
div:nth-of-type(1) {
  background-color: purple;
}
div:nth-of-type(2) {
  background-color: blue;
}
div:nth-of-type(3) {
  background-color: blueviolet;
}
div:nth-of-type(4) {
  background-color: darkslategrey;
}
div:nth-of-type(5) {
  background-color: aquamarine;
}
div:nth-of-type(1) > h3{
  color: aliceblue;
}
div:nth-of-type(2) > h3 {
  font-size: 20px;
}
div:nth-of-type(3) > h3 {
  color: white;
}
div:nth-of-type(4) > h3 {
  font-family: monospace;
}
div:nth-of-type(5) > h3 {
  font-style: italic;
}
div:nth-of-type(3) {
  height: 100px;
}
div:nth-last-child(odd) h3 {
  font-style: italic;
}